<section class="holder2">
    <div class="home">
        <img src="images/index/homeimg.jpg" alt="" class="homeimg">
        <div class="bienvenidos">
            <h2>Bienvenidos</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere repudiandae quisquam molestiae
                temporibus, id, maiores optio, modi perspiciatis quas quibusdam possimus fuga dolorem distinctio
                tempore dolor officia quod esse iure beatae accusamus reiciendis voluptatum vitae placeat! Maiores,
                beatae consequatur pariatur nobis nesciunt provident, sed quas repellat, minus molestias dignissimos
                voluptatum?</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia facere vitae consequatur quas saepe
                ducimus omnis unde officiis sapiente, harum soluta eveniet ipsum esse ratione.</p>
        </div>
    </div>
</section>

<!-- Separador -->
<div class="home-sep">
    <h3>Más que un Club</h3>
</div>

<!-- Section-Noticias-R -->
<section class="holder2">
    <h2 class="noticias-r">Noticias</h2>
    <div class="container d-flex justify-content-evenly my-5">
        <div class="row noti-r">
            <div class="col ">
                <div class="card" style="width: 18rem;">
                    <img src="images/index/card01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi eius
                            culpa soluta minus, saepe dolorem ipsum ipsa autem iste ratione.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="images/index/card02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi eius
                            culpa soluta minus, saepe dolorem ipsum ipsa autem iste ratione.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="images/index/card03.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi eius
                            culpa soluta minus, saepe dolorem ipsum ipsa autem iste ratione.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>