<main class="holder2">
    <h2>Historia</h2>
    <div class="parrafos">
        <div class="parrafo1">
            <img src="images/nosotros/p1.jpg" width="300" alt="partido">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, laboriosam harum officia ducimus
                    consectetur minus repellendus eos error molestias, dicta officiis ipsum culpa facere corporis est
                    aspernatur asperiores sequi quisquam accusamus maxime. Quasi exercitationem recusandae numquam,
                    alias facere suscipit facilis sed. Doloribus saepe, at nobis dicta quas ratione reprehenderit cumque
                    nesciunt non perferendis voluptatibus deleniti error laboriosam quos nulla eius quo! Non, atque.
                    Quas voluptatum eveniet totam molestias cum architecto recusandae adipisci illum accusantium velit
                    rerum ipsam omnis, minus maiores facere beatae necessitatibus aut nisi ratione tempore ipsa ut?
                    Necessitatibus veritatis recusandae odit, accusamus nesciunt numquam sunt doloremque corporis labore
                    veniam ducimus eius tempora repellat dolorem, vero aperiam vel itaque enim nisi ratione! Blanditiis,
                    vel error? Facilis quos saepe distinctio deleniti repudiandae excepturi aspernatur itaque corporis
                    culpa accusamus hic laboriosam recusandae, impedit odit unde cumque perferendis nostrum dolorem
                    repellat expedita quae delectus consequatur, quaerat accusantium. Quam quaerat placeat ipsum
                    temporibus!</p>
            </div>
        </div>
        <div class="parrafo2">
            <img src="images/nosotros/p2.jpg" width="300" alt="estadio">
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia, animi voluptas numquam voluptatem
                    pariatur culpa in hic sed? Provident dignissimos error maiores consectetur placeat dolorem iusto
                    labore perspiciatis unde excepturi quibusdam repellat assumenda eligendi illo quae odio, fuga ipsum
                    aliquid fugiat! Praesentium impedit nulla cupiditate nihil dignissimos sint necessitatibus laborum
                    animi ipsam atque sunt eius, at nisi? Nulla nihil dicta deserunt id neque suscipit, incidunt at!
                    Sapiente id culpa recusandae dignissimos, praesentium magnam fuga a soluta omnis odio iure sunt
                    corporis magni minima distinctio nostrum nemo placeat. At fugiat, earum nulla eos accusantium omnis
                    id sed libero. Sit corporis est possimus neque distinctio ut optio debitis, tenetur dolorem dolore
                    labore eligendi nesciunt maxime cumque voluptas, ipsam reiciendis dicta assumenda nulla doloremque
                    voluptatibus at. Possimus ipsa cupiditate in distinctio officia saepe mollitia et suscipit? Labore
                    facilis ipsum nihil ad aperiam totam tempore debitis dicta? Minus quos deserunt laboriosam fugiat
                    nisi nam.</p>
            </div>
        </div>
        <div class="parrafo3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ea dolores non adipisci debitis esse
                officiis, reprehenderit earum. Libero rerum quis magni magnam necessitatibus quaerat odit, obcaecati,
                ullam dolore modi dolorum. Reprehenderit eum neque a repellat autem omnis soluta maxime magnam aliquam
                deserunt dolor, id harum esse architecto minus, ipsum impedit accusamus nobis possimus quae animi
                numquam obcaecati! Laudantium cupiditate nobis consectetur autem quidem eligendi, deleniti recusandae
                nesciunt architecto quasi ullam sunt, blanditiis natus cum consequatur assumenda nam! Nisi, hic.</p>
        </div>
    </div>
</main>