<main class="holder2">
    <h2>Novedades</h2>
    <div class="novedades">
        <h3>Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Descripcion - Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro at, quia distinctio
            reprehenderit totam vitae illum in libero ut, soluta aspernatur fugiat iste amet magnam accusamus modi
            obcaecati possimus aperiam.</p>
        <hr>

        <h3>Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Descripcion - Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro at, quia distinctio
            reprehenderit totam vitae illum in libero ut, soluta aspernatur fugiat iste amet magnam accusamus modi
            obcaecati possimus aperiam.</p>
        <hr>

        <h3>Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Descripcion - Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro at, quia distinctio
            reprehenderit totam vitae illum in libero ut, soluta aspernatur fugiat iste amet magnam accusamus modi
            obcaecati possimus aperiam.</p>
        <hr>
    </div>
</main>